.App {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.bookmark_title {
  margin-bottom: 2rem;
 }

.bookmark_box {
  border: 1px solid red;
  padding-bottom: 2rem;
  width: 75%;
  margin: 0 auto;
}

.tile_flex_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-flow: wrap;
}

.tile {
  border-radius: 15px;
  border: 1px solid gray;
  width: 250px;
  height: 250px;
  margin: 1rem;
}

.icon_tile {
  width: 100px;
  height: 100px;
  margin-top: 4rem;
}
.tile_name {
 color: black;
}
