
:root {
  background: #141E30;
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bookmark_title {
  margin-bottom: 2rem;
  color: white;
 }

.bookmark_box {
  /* border: 1px solid red; */
  padding-bottom: 2rem;
  width: 75%;
  margin: 0 auto;
}

.tile_flex_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-flow: wrap;
}

.tile {
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin: .5rem;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 6px 0px #222831;
}

.tile:hover {
  cursor: pointer;
  transform: rotateX(-15deg);
  transform: rotateY(-15deg);
  filter: contrast(90%);
  filter: brightness(105%);
}

.icon_tile {
  width: 50px;
  height: 50px;
  margin-top: 2.5rem;
}
.tile_name {
 color: black;
 font-size: .9rem;
 
}

.homebar {
  background-color: rgba(48,71,94, .9);
  padding-top: 1.5rem;
  margin-top: 1rem;
  border-radius: 15px;
}

.homebar:hover {
  background-color: rgba(48,71,94, .95);
  transition: 750ms ease-in-out;
}

@media screen and (min-width: 1500px) {
  .App {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .tile {
    transform: scale(.75);
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .tile {
    transform: scale(.5);
    margin: -2rem;
  }
 
}

@media screen and (max-width: 450px) {
  .tile {
    transform: scale(.5);
    margin: -2rem;
  }
  .bookmark_title {
    font-size: 1.5rem;
  }
  .homebar {
    margin-bottom: 2rem;
  }
 
}

