.App {
  text-align: center;
  
}

.learning > h1 {
 margin-bottom: 2rem;

 
}
.tile_flex_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.tile {
  border-radius: 15px;
  border: 1px solid gray;
  width: 250px;
  height: 250px;
}

.icon_tile {
  width: 100px;
  height: 100px;
  margin-top: 4rem;
}
.tile_name {
 
}
